# Allow a dummy project in this directory for testing purposes
dummy-project

# Dependency directories
node_modules/
pnpm-lock.json
.pnpm-store
examples/**/package-lock.json

# Build files
dist
*.tsbuildinfo

# Logs
logs
*.log

# Other
.vscode/
.DS_Store
*.code-workspace
# Test artifacts
packages/hardhat-polkadot/parity-hardhat-polkadot-*.tgz
packages/hardhat-polkadot-resolc/parity-hardhat-polkadot-resolc-*.tgz
packages/hardhat-polkadot-node/parity-hardhat-polkadot-node-*.tgz
packages/hardhat-polkadot-migrator/parity-hardhat-polkadot-migrator-*.tgz
