{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "printWidth": 100,
    "parser": "typescript",
    "singleQuote": false,
    "bracketSpacing": true,
    "proseWrap": "never",
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "printWidth": 80,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": false,
          "bracketSpacing": false,
          "explicitTypes": "always"
        }
      }
    ]
}
